<!-- Beginning of large name line and search bar -->
    
<div class= "logowork">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-9">
      <!-- empty column -->
      </div>


      <div class="col-md-3">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
            <button type="submit" class="btn btn-default"> Search </button>
        </form>
      </div>

    </div>  <!-- end of row -->
  </div>
</div>

<!-- End of large name line and search bar -->


<!-- Beginning of jumbotron -->

<div class= "jumbotron">
  <div class="container-fluid">
    
    <div class = "row">
    <div class="col-md-2">
        <div class="jumbotron-logo">
        <%= link_to image_tag("nicelogo.png") %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="jumbotron-content">
        
        <p class="lead">Founded in 2004, the San Francisco Family Support Network is a unique partnership of the stakeholders in the Family Support field: families, community-based organizations, public departments, and private foundations.</p>
        
        </div>
      </div>

      

    </div>
  </div>
</div>

<!-- End of jumbotron -->


<!-- Beginning of colored boxes -->
<div class="colored-boxes">
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-md-4">
        <div class="purplebox">
          <h2>Trainings</h2>
          <p>Lorem ipsum saga potem nada nada. Baby monkey, baby monkey. Riding on a pig, baby monkey.</p>
          <a class="learnmore" href="#">Learn more</a>
          
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="orangebox">
          <h2>Certifications</h2>
          <p>Lorem ipsum saga potem nada nada. Baby monkey, baby monkey. Riding on a pig, baby monkey.</p>
          <a class="learnmore" href="#">Learn more</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="greenbox">
          <h2>Membership</h2>
          <p>Lorem ipsum saga potem nada nada. Baby monkey, baby monkey. Riding on a pig, baby monkey.</p>
          <a class="learnmore" href="#">Learn more</a>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- End of colored blocks -->

<!-- Facebook activity view feed -->

<div class="facebook-area">
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-md-4 col-md-offset-4">

        <div class="fb-page" data-href="https://www.facebook.com/sffsn" data-tabs="timeline, events" data-width="445" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">

  <div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/sffsn"><a href="https://www.facebook.com/sffsn">San Francisco Family Support Network</a></blockquote>

  </div>
</div>




