@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Arimo|Lobster);

/*Teals

Dark Cyan  Hex Code #008B8B
RGB 0, 139, 139

Medium Jungle Green 	Hex Code #1BB1B1
Spiro Disco Ball  		Hex Code #OF93B2
Tufts Blue 				Hex Code #41D7D7

Orange
Tomato  	Hex Code #FF613C
UA Red  	Hex Code # D93812
Coral      	Hex Code #FF8062

Neutral

Lemon Hex Code # FFF6DB*/
html {
	font-family: 'Arimo', sans-serif;
}

.top-bar {
	height: 5px;
	background: teal;
	margin-bottom: 1px;
}

.navbar {
	margin-bottom:10px;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.navbar li {
	font-weight: 500;
}


.navbar li:hover {
	background:teal;
}


body  {
    background-image: image-url('happy_healthy.jpg');
    background-color: #FFF6DB;
    background-repeat: no-repeat;
    background-size: 100%;
    }

.jumbotron {
	
	height: 165px;
	background-color: transparent;
	padding-top: 5px;
	margin-top: 20px;
	margin-bottom: 200px;
}

.jumbotron [class*="col-"] {
	padding-top: 20px;
	padding-bottom: 0px;
	background-color: darkcyan;
	
	overflow:auto;
	height:165px;
}

.jumbotron-content {
	color: white;
	font-size: 12px;
	text-shadow: 1px 1px #000000;
	text-align: center;
	font-family: 'Hind Vadodara', sans-serif;

}

.logowork h2 {
	font-size: 56px;
	font-family: 'Lobster', cursive;
	text-shadow: 2px 2px #D93812;
	text-align: center;

	color: white;
}

.colored-boxes {
	margin-bottom: 40px;
	color: white;
	text-align: justify;
	font-family: 'Hind Vadodara', sans-serif;
}


.purplebox {
	height: 300px;
	background-color: #D93812;  /*UAOrange*/
	padding:0 10px;
	font-size: 120%;
	font-family: 'Hind Vadodara', sans-serif;
	
}

.orangebox {
	height: 300px;
	background-color: orange;
	padding:0 10px;
	font-size: 120%;
	font-family: 'Hind Vadodara', sans-serif;
	
}

.greenbox {
	height: 300px;
	background-color: #1BB1B1;  /*junglegreen*/
	padding:0 10px;
	font-size: 120%;
	font-family: 'Hind Vadodara', sans-serif;
	
}

.purplebox a.learnmore {
	position:absolute;
	bottom:15px;
	left:30px;
	background:#2b8cbc;
	padding:10px 15px;
	color:#ffffff;
	font-family: 'Hind Vadodara', sans-serif;
}

.orangebox a.learnmore {
	position:absolute;
	bottom:15px;
	left:30px;
	background:#2b8cbc;
	padding:10px 15px;
	color:#ffffff;
	font-family: 'Hind Vadodara', sans-serif;
}

.greenbox a.learnmore {
	position:absolute;
	bottom:15px;
	left:30px;
	background:#2b8cbc;
	padding:10px 15px;
	color:#ffffff;
	font-family: 'Hind Vadodara', sans-serif;
}

#user-signup {
	background-color: #FFF6DB;
	text-align: center;
	padding: 15px;
	border: 1px solid teal;
}

#user-signup h1 {
	color: #D93812;
	font-family: 'Hind Vadodara', sans-serif;
}



.next-area {
	margin-top: 85px;
	
}

.another-area {
	padding: 30px;
	font-family: 'Hind Vadodara', sans-serif;
	text-align: center;
}

.facebook-area {
	font-family: 'Hind Vadodara', sans-serif;
	height: 500px;
	
}

.facebook-area h3 {
	font-family: 'Hind Vadodara', sans-serif;
	color: #3b5998;
	text-align: center;
}
